.airplaneLogo{
    display: block;
    background-color: blue;
    content: 'airlogo';
}

.airportCode{
    display: block;
    background-color: red;
    content: 'tlv';
}

.err_msg{
    margin: 5px;
    color: red;
}


.hiddens{
    display: none;
}

