.addprotection h1{
    font-weight: 700;
    letter-spacing: -0.5px
}

.od-results-insurence-pop .guarantys{
    margin-left: 10px;
}

.whencomb{
    font-size: 12px;
    font-weight: 600;
}


.od-results-insurence-pop .tellmemore{
    font-size: 11px;
    text-decoration: underline;
    color: grey;
    top: -10px;
    position: relative;
    font-weight: 700;

}

.add_protection_pannel .short {
    font-size: 25px;
}

.add_protection_pannel .protectiopncost{
    position: relative;
    top: 40px;
    font-size: 18px;
    font-weight: 900;
}

.check:before{
    font-family: 'theme-icons';
    color: #1DBD45;
    content: '7';

}

.add_protection_pannel .checktext{
    margin: 5px;
}

.add_protection_pannel .od-pricebreakdown-title{
    font-size: 11px;
    font-weight: 400;
}

.add_protection_pannel .howdocover p{
    font-size: 13px;
    font-weight: 400;
}

.add_protection_pannel .explains p{
    padding: 7px!important;
}


.add_protection_pannel .od-hint-content{
    height: auto;
}

.add_protection_pannel .howtocover{
    float: left;
}

.add_protection_pannel .footertip{
    background-color: rgb(242, 242, 242);
    height: 50px;
    position: absolute;
    bottom: -36px;
    right: 0px;
    left: 0px;
    /*box-shadow:rgba(0, 0, 0, 0.3) 0 0 30px 0;*/
    box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.3), -10px 10px 20px -10px rgba(0, 0, 0, 0.3);
}


.add_protection_pannel .footertip button{
    right: 10px;
    position: relative;
    color: blue!important;
    font-weight: bolder!important;

    top: 50%;
    transform: translatey(-50%);
}

.add_protection_pannel .footertip button:hover,.footertip button:active {
    color: blue!important;
    font-weight: bolder!important;
    background-color: white!important;
}

.add_protection_pannel .addbutton{
    position: relative;
    /* top: 30px; */
    background: white;
    color: blue!important;
    width: 181px;
    font-weight: bolder!important;
    box-shadow: inset 0 0 1px grey;
}

.add_protection_pannel .addbutton:hover,.addbutton:active{
    color: blue!important;
    font-weight: bolder!important;
    background-color: white!important;
}

.add_protection_pannel .protectioncost
{
    position: relative;
    font-size: 18px;
    font-weight: bolder;
}

.yourprotected{
    border-bottom: 1px dashed #ccc;
    height: auto;
    padding: 18px 0px;
}

.tellmemore2{
    font-size: 11px;
    text-decoration: underline;
    color: grey;
    top: 0px;
    position: relative;
    font-weight: 700;
}


.yourprotected  .removespan{
    position: relative;
    /* top: 10px; */
    /* width: 10px; */
    /* height: 25px; */
    border-radius: 100%;
    background: white;
    border: 0px;
}


.prop_step_top {
    float: left;
    width: 100%;
    height: 94px;
    color: #a5a5a5;
}

.prop_step_top>div {
    float: left;
    width: 100%;
    height: 58px;
    margin-bottom: 7px;
}

.prop_step_top > span {
    float: left;
    width: 100%;
    font-size: 21px;
    font-weight: bolder;
    font-family: arial;
}

.prop_step_text {
    float: left;
    width: 100%;
    font-size: 12px;
    color: #a5a5a5;
}

.prop_step_top.step_top_1>div
{
    background: url('../resources/prop_step1.png') left bottom no-repeat;
}

.prop_step_top.step_top_2>div
{
    background: url('../resources/prop_step2.png') left top no-repeat;
}

.prop_step_top.step_top_3>div
{
    font-size: 26px;
    color:#01bf3d;
    padding-top: 6px;
}

.prop_step_top.step_top_3>div .prop_step_icon
{
    background: url('../resources/prop_step3.png') no-repeat;
    height:30px;
    width:28px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 2px;
}

.addprotection.add_protection_pannel {
    margin-top: 12px;
}

.od-baggages-title-top.no-icon:before {
    display: none;
}

.prop-conn-direction {
    font-size: 12px;
}

.od-resultpage-price-text-details.hint_trigger_button.od-hint-btn.insurence-hint-btn {
    line-height: initial;
    padding: 0px;
}

.protect-notice {
    padding-left: 102px;
    font-size: 13px;
}

.protect-notice h4 {
    color: #2043df;
    font-size: 14px;
}


.protect-notice p.od-pricebreakdown-title {
    font-weight: normal;
    font-size: 13px;
}

.protect-notice .checktext:after {
    content: ' ';
    display:block;
    width:100%;
    height: 9px;
    clear:both;
}

.protect-notice br{display:none;visibility: hidden; line-height: 0px}

.proposal_added {
    font-size: 20px;
}

.proposal_added i.fa {
    color: #01bf3d;
}

.footertip .proposal_added {
    margin-right: 14px;
    margin-top: 11px;
}

a.proposal_remove {
    color: gray;
    font-size: 13px;
    margin-left: 14px;
    margin-top: 6px;
}

.footertip .proposal_remove {
    margin-top: 17px;
}

.wrong_label.form_err {
    width: 270px;
}

p.signRegister {
    padding: 20px;
}

.od-persuasion-authority {
    width: 269px;
}