<div class="od-ui-calendar-wrapper open" data-side="left">
    <div class="od-ui-calendar-body">
        <div class="od-ui-calendar-arrow calendar_arrow">
            <div class="arrow disabled" data-direction="previous"></div>
        </div>
        <div class="od-ui-calendar-container">
            <div class="od-ui-calendar calendar" data-date="1488326400000">
                <div class="od-ui-calendar-title">March '17</div>
                <div class="od-ui-calendar-month">
                    <div class="od-ui-calendar-header">
                        <div class="od-ui-calendar-header-day">Mon</div>
                        <div class="od-ui-calendar-header-day">Tue</div>
                        <div class="od-ui-calendar-header-day">Wed</div>
                        <div class="od-ui-calendar-header-day">Thu</div>
                        <div class="od-ui-calendar-header-day">Fri</div>
                        <div class="od-ui-calendar-header-day weekend">Sat</div>
                        <div class="od-ui-calendar-header-day weekend">Sun</div>
                    </div>
                    <div class="od-ui-calendar-week">
                        <div class="od-ui-calendar-day disabled">27</div>
                        <div class="od-ui-calendar-day disabled">28</div>
                        <div class="od-ui-calendar-day disabled">1</div>
                        <div class="od-ui-calendar-day disabled">2</div>
                        <div class="od-ui-calendar-day disabled">3</div>
                        <div class="od-ui-calendar-day weekend disabled">4</div>
                        <div class="od-ui-calendar-day weekend disabled">5</div>
                    </div>
                    <div class="od-ui-calendar-week">
                        <div class="od-ui-calendar-day disabled">6</div>
                        <div class="od-ui-calendar-day disabled">7</div>
                        <div class="od-ui-calendar-day disabled">8</div>
                        <div class="od-ui-calendar-day disabled">9</div>
                        <div class="od-ui-calendar-day disabled">10</div>
                        <div class="od-ui-calendar-day weekend disabled">11</div>
                        <div class="od-ui-calendar-day weekend disabled">12</div>
                    </div>
                    <div class="od-ui-calendar-week">
                        <div class="od-ui-calendar-day disabled">13</div>
                        <div class="od-ui-calendar-day disabled">14</div>
                        <div class="od-ui-calendar-day disabled">15</div>
                        <div class="od-ui-calendar-day disabled">16</div>
                        <div class="od-ui-calendar-day disabled">17</div>
                        <div class="od-ui-calendar-day weekend disabled">18</div>
                        <div class="od-ui-calendar-day weekend disabled">19</div>
                    </div>
                    <div class="od-ui-calendar-week">
                        <div class="od-ui-calendar-day disabled">20</div>
                        <div class="od-ui-calendar-day disabled">21</div>
                        <div class="od-ui-calendar-day disabled">22</div>
                        <div class="od-ui-calendar-day disabled">23</div>
                        <div class="od-ui-calendar-day disabled">24</div>
                        <div class="od-ui-calendar-day weekend disabled">25</div>
                        <div class="od-ui-calendar-day weekend disabled">26</div>
                    </div>
                    <div class="od-ui-calendar-week">
                        <div class="od-ui-calendar-day today">27</div>
                        <div class="od-ui-calendar-day">28</div>
                        <div class="od-ui-calendar-day">29</div>
                        <div class="od-ui-calendar-day">30</div>
                        <div class="od-ui-calendar-day">31</div>
                        <div class="od-ui-calendar-day weekend next other">1</div>
                        <div class="od-ui-calendar-day weekend next other">2</div>
                    </div>
                </div>
            </div>
            <div class="od-ui-calendar calendar" data-date="1491004800000">
                <div class="od-ui-calendar-title">April '17</div>
                <div class="od-ui-calendar-month">
                    <div class="od-ui-calendar-header">
                        <div class="od-ui-calendar-header-day">Mon</div>
                        <div class="od-ui-calendar-header-day">Tue</div>
                        <div class="od-ui-calendar-header-day">Wed</div>
                        <div class="od-ui-calendar-header-day">Thu</div>
                        <div class="od-ui-calendar-header-day">Fri</div>
                        <div class="od-ui-calendar-header-day weekend">Sat</div>
                        <div class="od-ui-calendar-header-day weekend">Sun</div>
                    </div>
                    <div class="od-ui-calendar-week">
                        <div class="od-ui-calendar-day prev other">27</div>
                        <div class="od-ui-calendar-day prev other">28</div>
                        <div class="od-ui-calendar-day prev other">29</div>
                        <div class="od-ui-calendar-day prev other">30</div>
                        <div class="od-ui-calendar-day prev other">31</div>
                        <div class="od-ui-calendar-day weekend">1</div>
                        <div class="od-ui-calendar-day weekend">2</div>
                    </div>
                    <div class="od-ui-calendar-week">
                        <div class="od-ui-calendar-day">3</div>
                        <div class="od-ui-calendar-day">4</div>
                        <div class="od-ui-calendar-day">5</div>
                        <div class="od-ui-calendar-day">6</div>
                        <div class="od-ui-calendar-day">7</div>
                        <div class="od-ui-calendar-day weekend">8</div>
                        <div class="od-ui-calendar-day weekend">9</div>
                    </div>
                    <div class="od-ui-calendar-week">
                        <div class="od-ui-calendar-day">10</div>
                        <div class="od-ui-calendar-day">11</div>
                        <div class="od-ui-calendar-day">12</div>
                        <div class="od-ui-calendar-day">13</div>
                        <div class="od-ui-calendar-day">14</div>
                        <div class="od-ui-calendar-day weekend">15</div>
                        <div class="od-ui-calendar-day weekend">16</div>
                    </div>
                    <div class="od-ui-calendar-week">
                        <div class="od-ui-calendar-day">17</div>
                        <div class="od-ui-calendar-day">18</div>
                        <div class="od-ui-calendar-day">19</div>
                        <div class="od-ui-calendar-day">20</div>
                        <div class="od-ui-calendar-day">21</div>
                        <div class="od-ui-calendar-day weekend">22</div>
                        <div class="od-ui-calendar-day weekend">23</div>
                    </div>
                    <div class="od-ui-calendar-week">
                        <div class="od-ui-calendar-day">24</div>
                        <div class="od-ui-calendar-day">25</div>
                        <div class="od-ui-calendar-day">26</div>
                        <div class="od-ui-calendar-day">27</div>
                        <div class="od-ui-calendar-day">28</div>
                        <div class="od-ui-calendar-day weekend">29</div>
                        <div class="od-ui-calendar-day weekend">30</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="od-ui-calendar-arrow calendar_arrow">
            <div class="arrow" data-direction="next"></div>
        </div>
    </div>
    <div class="od-ui-datepicker-footer datepicker_footer">
        <div class="od-footer-options-container">
            <button class="od-ui-datepicker-close-button">Close</button>
        </div>
    </div>
</div>