.theDiv{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.6;
    background-color: #000000;
    z-index: 1;

}

.ui-state-default:hover{
}

.ui-datepicker-week-end{
    font-weight: bold;
}

#flights .od-ui-datepicker-footer, #home .od-ui-datepicker-footer, #page.dpresults .od-ui-datepicker-footer, #page.xsellproductselection .od-ui-datepicker-footer{
    padding-top: 20px!important;
    position: absolute!important;
    right: 0!important;
    left: 0!important;
    bottom: -15px!important;
    background: #F2F2F2!important;
    text-align: right!important;
    border: 1px solid#ccc!important;
    border-radius: 0px 0px 5px 5px!important;
}

.datetag{
    color: black!important;
}

.ui-datepicker{
    z-index: 1000;
    position: absolute;
    padding-bottom: 10px;
    left: 0;
    z-index: 1;
    display: none;
    width: 43em!important;
    margin-top: 6px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
    border-radius: 4px;
    cursor: default;
    padding-right: 70px;
    padding-left: 70px;
    display: inline-flex;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);

}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    text-align: center;
}

.ui-datepicker table, td, th{
    border-collapse: collapse!important;
}

.ui-datepicker td{
    border: 1px solid #ccc;
    text-align: center;
    position: relative;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    background-color: white;
    border: 0px solid white;
}
.ui-datepicker-header{
    background-color:white!important;
    border: 0px solid white!important;
}
.ui-widget-content {
    background-color:white!important;
    border: 0px solid white!important;
}

/*.firstpicker .ui-state-highlight:after{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*background-color: #1E44D5 !important;*/
    /*color: #fff;*/
    /*display: block;*/
    /*font-family: 'theme-icons';*/
    /*font-size: 21px;*/
    /*font-weight: 400;*/
    /*outline: 1px solid #039;*/
    /*content: '('!important;*/
    /*padding-top: 6px;*/
/*}*/

/*.secoundpicker .ui-state-active:after{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*background-color: #1E44D5 !important;*/
    /*color: #fff;*/
    /*display: block;*/
    /*font-family: 'theme-icons';*/
    /*font-size: 21px;*/
    /*font-weight: 400;*/
    /*outline: 1px solid #039;*/
    /*content: ')'!important;*/
    /*padding-top: 6px;*/
/*}*/

.ui-state-default{
    background-color: white!important;
    border:0px solid white!important;
}

.ui-datepicker a{
    width: 32px;
    height: 32px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #433f33;
    border: 0px solid white;

}

/*.ui-datepicker .ui-datepicker-next{*/
    /*line-height: 0em!important;*/
/*}*/

.ui-datepicker-group{
    margin-right: 100px;
    width:300px!important;
}


.od-viewport {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    border: 0px solid white;
}




.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 150px;
    z-index: 5000;
    right: -50px;
}


/*.secoundpicker .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*background-color: #1E44D5 !important;*/
    /*color: #fff;*/
    /*display: block;*/
    /*font-family: 'theme-icons';*/
    /*font-size: 21px;*/
    /*font-weight: 400;*/
    /*outline: 1px solid #039;*/
    /*content: ')'!important;*/
    /*padding-top: 6px;*/
/*}*/

/*.firstpicker .ui-state-active:after, .ui-widget-content .ui-state-active:after, .ui-widget-header .ui-state-active:after, a.ui-button:active:after, .ui-button:active{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*background-color: #1E44D5 !important;*/
    /*color: #fff;*/
    /*display: block;*/
    /*font-family: 'theme-icons';*/
    /*font-size: 21px;*/
    /*font-weight: 400;*/
    /*outline: 1px solid #039;*/
    /*content: '('!important;*/
    /*padding-top: 6px;*/
/*}*/



.visibility {
    visibility: hidden;
}

.ui-datepicker-div{
    display: none;
}

.ui-widget{
    font-family:  "Open Sans",sans-serif;
}

.ui-datepicker th{
    font-size: 12px;
    font-weight: lighter;
}

.ui-datepicker .ui-datepicker-prev{
    position: absolute;

    top: 150px;
    z-index: 5000;
    left:-50px;
}

.ui-datepicker-multi-2 .ui-datepicker-group{
    margin-left: 10px;
}


/*.ui-state-active:after, .ui-widget-content .ui-state-active:after, .ui-widget-header .ui-state-active:after, a.ui-button:active, .ui-button:active{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*background-color: #1E44D5 !important;*/
    /*color: #fff;*/
    /*display: block;*/
    /*font-family: 'theme-icons';*/
    /*font-size: 21px;*/
    /*font-weight: 400;*/
    /*outline: 1px solid #039;*/
    /*content: '(';*/
    /*padding-top: 6px;*/
/*}*/
/*.ui-datepicker-days-cell-over:after{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*background-color: #1E44D5 !important;*/
    /*color: #fff;*/
    /*display: block;*/
    /*font-family: 'theme-icons';*/
    /*font-size: 21px;*/
    /*font-weight: 400;*/
    /*outline: 1px solid #039;*/
    /*content: '(';*/
    /*padding-top: 6px;*/
/*}*/

.selectedfromdate:after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1E44D5 !important;
    color: #fff;
    display: block;
    font-family: 'theme-icons';
    font-size: 21px;
    font-weight: 400;
    outline: 1px solid #039;
    content: '(';
    padding-top: 6px;
}

.firstpicker td a:hover:after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1E44D5 !important;
    color: #fff;
    display: block;
    font-family: 'theme-icons';
    font-size: 21px;
    font-weight: 400;
    outline: 1px solid #039;
    content: '(';
    padding-top: 6px;
}

.secoundpicker td a:hover:after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1E44D5 !important;
    color: #fff;
    display: block;
    font-family: 'theme-icons';
    font-size: 21px;
    font-weight: 400;
    outline: 1px solid #039;
    content: ')';
    padding-top: 6px;
}

.secoundpicker td a .ui-datepicker-current-day, .ui-state-active:after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1E44D5 !important;
    color: #fff;
    display: block;
    font-family: 'theme-icons';
    font-size: 21px;
    font-weight: 400;
    outline: 1px solid #039;
    content: ')';
    padding-top: 6px;
}

.godatepicked:after{

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1E44D5 !important;
    color: #fff;
    display: block;
    font-family: 'theme-icons';
    font-size: 21px;
    font-weight: 400;
    outline: 1px solid #039;
    content: '('!important;
    padding-top: 6px;

}

.ui-datepicker .ui-datepicker-prev{



;
}

.ui-datepicker .ui-datepicker-prev:after{
    display: block;
    font-family: FontAwesome;
    cursor: pointer;
    margin: 0;
    border-radius: 4px;
    width: 25px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 400;
    background: -owg-linear-gradient(#fff, #F2F2F2);
    background: -webkit-linear-gradient(#fff, #F2F2F2);
    background: linear-gradient(#fff, #F2F2F2);
    border: 1px solid #ccc;
    color: #1E44D5;
    border-radius: 100%;
    cursor: pointer;
    padding: 0;
    font-size: 25px;
    content: "\f104";
    padding-right: 1px;
    padding-bottom: 2px;
}

.ui-datepicker .ui-datepicker-next:after{
    display: block;
    font-family: FontAwesome;
    cursor: pointer;
    margin: 0;
    border-radius: 4px;
    width: 25px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 400;
    background: -owg-linear-gradient(#fff, #F2F2F2);
    background: -webkit-linear-gradient(#fff, #F2F2F2);
    background: linear-gradient(#fff, #F2F2F2);
    border: 1px solid #ccc;
    color: #1E44D5;
    border-radius: 100%;
    cursor: pointer;

    padding: 0;
    font-size: 25px;
    content: "\f105";
    padding-left: 1px;
    padding-bottom: 2px;
}




