.od-moreoptions-content{
    position: absolute;
    z-index: 40 ;
    margin-top: 6px;
    border: 1px solid #B8BAAF;
    background: #fff;
    border-top: 1px solid #B8BAAF;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
    display: none;
}
