<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Flight</h1>
    <form action="#" th:action="@{/view/flight}" th:object="${flight}" method="post">
    
        <p>Airline: <input list="airlineslist" th:field="*{airline}" /> </p>
            <datalist id="airlineslist">
        	    <option th:each="al : ${airlines}"
                                 th:value="${al.id}"
                                 th:text="${al.name}" />
            </datalist>

    	<p>Flight Number: <input type="text" th:field="*{flightNumber}" /></p>
        <p>Schedule: <input type="time" th:field="*{flightTime}" /></p>

        <p>originAirportId: <input list="airportslist" th:field="*{originAirport}" /> </p>
        <p>destinationAirportId: <input list="airportslist" th:field="*{destinationAirport}" /> </p>
            <datalist id="airportslist">
        	    <option th:each="ap : ${airports}"
                                 th:value="${ap.id}"
                                 th:text="${ap.name}" />
            </datalist>
		<p/>

        <p><input type="hidden" th:field="${flight.id}" /></p>
        
        <div id='odi'>
        <input type="checkbox" name="vehicle" value="Bike">I have a bike</input>
        </div>

        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    
<script>
function showodi(odi) {
	var node;
    node = document.getElementById('odi');
    if(odi === "show")
        node.style.visibility = 'visible';
    else
    	node.style.visibility = 'hidden';
}

showodi("hide");
</script>
    
</body>
</html>
