<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Companies</title>

</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(companies)}">
        <h2>Companies List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            <tr th:each="company : ${companies}">
                <td><a th:text="${company.id}" th:href="${'/view/editcompany?id=' + company.id}">Id</a></td>
                <td th:text="${company.name}">name</td>
                <td><a th:href="${'/view/deletecompany?id=' + company.id}"><button>Delete</button></a></td>
                <td><a th:href="${'/view/companydelayproduct?id=' + company.id}"><button>Product</button></a></td>
                <td><a th:href="${'/view/companyflights?id=' + company.id}"><button>Flights</button></a></td>
                <td><a th:href="${'/view/companydashboard?id=' + company.id}"><button>Dashboard</button></a></td>
            </tr>
        </table>

    </div>
</div>
<p/>
<a href="/view/company">New Company</a>
<p/>
<a href="/">Home</a>

</body>
</html>

