<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>

</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(flights)}">
        <h2>Connection Flights List</h2>
        <table class="table table-striped">
            <tr>
                <th>From</th>
                <th>Time</th>
                <th>Airline</th>
                <th>Flight</th>
                <th>Landing</th>
                <th>To</th>

                <th> / </th>

                <th>From</th>
                <th>Time</th>
                <th>Airline</th>
                <th>Flight</th>
                <th>Landing</th>
                <th>To</th>
            </tr>
            <tr th:each="flight : ${flights}">
                <td th:text="${flight.originAirport1}">originAirport</td>
                <td th:text="${flight.flight1Time}">flightTime</td>
                <td th:text="${flight.airline1}">airline</td>
                <td th:text="${flight.flight1Number}">flightNumber</td>
                <td th:text="${flight.flight1LandingTime}">flightTime</td>
                <td th:text="${flight.destinationAirport1}">destinationAirport</td>

                <td> --/-- </td>

                <td th:text="${flight.originAirport2}">originAirport</td>
                <td th:text="${flight.flight2Time}">flightTime</td>
                <td th:text="${flight.airline2}">airline</td>
                <td th:text="${flight.flight2Number}">flightNumber</td>
                <td th:text="${flight.flight2LandingTime}">flightTime</td>
                <td th:text="${flight.destinationAirport2}">destinationAirport</td>

                <td><a th:href="${'/view/deleteflight?id=' + flight.id}"><button>Delete</button></a></td>
                <td><a th:href="${'/view/addconnectionproposal?flights=' + flight.flight1id + ';' + flight.flight2id}"><button>Proposal</button></a></td>
                <td><a th:href="${'/view/connectionota?flightid=' + flight.id}"><button>Order</button></a></td>
                <td><a th:href="${'/view/addcancel?flightid=' + flight.id}"><button>Cancel</button></a></td>
                <td><a th:href="${'/view/makelandedevent?flightid=' + flight.id}"><button>Landed Event</button></a></td>
            </tr>
        </table>

    </div>
</div>
<p/>
<a href="/view/flight">New Flight</a>
<p/>
<a href="/">Home</a>

</body>
</html>

