<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>

</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(flights)}">
        <h2>Flights List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Airline</th>
                <th>Number</th>
                <th>Time</th>
                <th>Day</th>
                <th>From airport</th>
                <th>To Airport</th>
            </tr>
            <tr th:each="flight : ${flights}">
                <td><a th:text="${flight.id}" th:href="${'/view/editflight?id=' + flight.id}">Id</a></td>
                <td th:text="${flight.airline}">airline</td>
                <td th:text="${flight.flightNumber}">flightNumber</td>
                <td th:text="${flight.flightTime}">flightTime</td>
                <td th:text="${flight.day}">day</td>
                <td th:text="${flight.originAirport}">originAirport</td>
                <td th:text="${flight.destinationAirport}">destinationAirport</td>
                <td><a th:href="${'/view/deleteflight?id=' + flight.id}"><button>Delete</button></a></td>
                <td><a th:href="${'/view/addproposal?flightid=' + flight.id}"><button>Proposal</button></a></td>
                <td><a th:href="${'/view/ota?flightid=' + flight.id}"><button>Order</button></a></td>
                <td><a th:href="${'/view/addcancel?flightid=' + flight.id}"><button>Cancel</button></a></td>
                <td><a th:href="${'/view/makelandedevent?flightid=' + flight.id}"><button>Landed Event</button></a></td>
            </tr>
        </table>

    </div>
</div>
	<p/>
	<a href="/view/flight">New Flight</a>
	<p/>
    <a href="/">Home</a>

</body>
</html>

