<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Proposal</h1>
<p th:text="'Message: ' + ${message}" />

<a href="/view/proposal">Submit another request</a>
<p/>
<a href="/view/flightlanded">Submit another landing event</a>
</body>
</html>
