<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Proposal</h1>
    <form action="#" th:action="@{/view/proposal/accept}" th:object="${proposal}" method="post">

    	<p th:text="'Proposal: ' + ${proposal.id}" />
    	<p th:text="'flight:   ' + ${proposal.flightNumber}" />
    	<p th:text="'airline:  ' + ${proposal.airline}" />
    	<p th:text="'date:     ' + ${proposal.travelDate}" />
    	<p th:text="${message}"/>

        <p><input type="hidden" th:field="${proposal.id}" /></p>
        <p><input type="submit" value="Accept Proposal" /> </p>
    </form>

    <a href="/view/proposal">Submit another request</a>
    <p></p>
    <a href="/">Home</a>
</body>
</html>
