<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>

</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(activities)}">
        <h2>Proposal Status</h2>
        <table class="table table-striped">
            <tr>
                <th>Activities</th>
            </tr>
            <tr th:each="activity : ${activities}">
                <td th:text="${activity}">activity</td>
             </tr>
        </table>

    </div>
</div>
	<a href="/view/proposals">Back to Proposals List</a>
    <p></p>
    <a href="/">Home</a>
</body>
</html>

