<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
    </script>
    <script>
 $(document).ready(function(){
 setInterval(function(){cache_clear()},30000);
 });
 function cache_clear()
{
 window.location.reload(true);
}
</script>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(proposals)}">
        <h2>Proposal List</h2>
        <table class="table table-striped">
             <tr>
                <th style="width: 15%">Proposal Id</th>
                <th style="width: 7%">Status</th>
                <th style="width: 20%">Details</th>

                <th style="width: 3%"> </th>
                <th style="width: 3%"> </th>
                <th style="width: 3%"> </th>
                <th style="width: 6%">Events</th>
                <th style="width: 6%"> </th>
                <th style="width: 6%"> </th>
            </tr>
            <tr th:each="proposal : ${proposals}">
                <td><a th:text="${proposal.proposalID}" th:href="${'/view/editproposal?id=' + proposal.proposalID}">Id</a></td>
                <td th:text="${proposal.state}">state</td>
                <td th:text="${proposal.description}">description</td>
                <td><a th:href="${'/view/proposal/accept?id=' + proposal.proposalID}"><button>Accept</button></a></td>
                <td><a th:href="${'/view/deleteproposal?id=' + proposal.proposalID}"><button>Delete</button></a></td>
                <td><button th:onclick="'javascript:myFunction(\'' +  ${proposal.proposalID} + '\');'">Status</button></td>
                <td><a th:href="${'/view/makecancelevent/' + proposal.proposalID}"><button>Cancel</button></a></td>
                <td><a th:href="${'/view/makelandedevent/' + proposal.proposalID}"><button>Landed</button></a></td>
                <td><a th:href="${'/view/makelandedevent/' + proposal.proposalID + '?delay=true'}"><button>Delayed</button></a></td>

            </tr>
        </table>

    </div>
</div>
	<p/>
	<a href="/view/proposal">New Proposal request</a>
	<p/>
    <a href="/">Home</a>
	<p/>
    <a href="/view/flights">Flights</a>
    <p/>
    <A HREF="javascript:history.go(0)">Refresh the page</A>

<script>
function myFunction(proposalID) {
    var myWindow = window.open("/view/statusproposal?id="+proposalID, "MsgWindow", "width=800,height=600");
}
</script>

</body>
</html>

