<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>

</head>
<body>
<font size="5">
<label th:text="${company.name}">${company}</label><label> Company Flights</label>
</font>
<p></p>
<img src="/image1.jpg" alt="Order" style="width:640px;height:240px;"></img>


<div class="container">
    <div th:if="${not #lists.isEmpty(flights)}">
        <table class="table table-striped">
            <tr>
                <th>Airline</th>
                <th>Number</th>
                <th>Time</th>
                <th>Day</th>
                <th>From airport</th>
                <th>To Airport</th>
            </tr>
            <tr th:each="flight : ${flights}">
               <td th:text="${flight.airline}">airline</td>
                <td th:text="${flight.flightNumber}">flightNumber</td>
                <td th:text="${flight.flightTime}">flightTime</td>
                <td th:text="${flight.day}">day</td>
                <td th:text="${flight.originAirport}">originAirport</td>
                <td th:text="${flight.destinationAirport}">destinationAirport</td>
                <td><a th:href="${'/view/ota?flightid=' + flight.id}"><button>Order</button></a></td>
                <td><a th:href="${'/view/addcancel?flightid=' + flight.id}"><button>Cancel</button></a></td>
                <td><a th:href="${'/view/makelandedevent?flightid=' + flight.id}"><button>Landed Event</button></a></td>
            </tr>
        </table>

    </div>
</div>
<p/>
<a href="/view/flight">New Flight</a>
<p/>
<a href="/">Home</a>

</body>
</html>
