<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Company XYZ</title>

</head>
<body>

<font size="6">
<label th:text="${company.name}">${company}</label><label> Company Dashboard</label>
</font>
<p/>

<div class="container">
    <div th:if="${not #lists.isEmpty(products)}">
        <h2>Products List</h2>
        <ul style="list-style-type:none; overflow: auto; height:100px; ">
        	<li th:each="product : *{products}" th:text="${product.name}">product</li>
        </ul>

    </div>
</div>
<p/>

<div class="container">
    <div th:if="${not #lists.isEmpty(proposals)}">
        <h2>Proposals List</h2>
        <ul style="list-style-type:none; overflow: auto; height:100px; ">
        	<li th:each="proposal : *{proposals}" th:text="${proposal}" th:onclick="'javascript:myFunction(\'' +  ${proposal.id} + '\');'">proposal</li>
        </ul>

    </div>
</div>
<p/>

<a href="/view/company">New Company</a>
<p/>
<a href="/">Home</a>


<script>
function myFunction(proposalID) {
    var myWindow = window.open("/view/statusproposal?id="+proposalID, "MsgWindow", "width=800,height=600");
}
</script>


</body>
</html>

