<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flight Delay Product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Flight Delay Product</h1>
<form action="#" th:action="@{/view/flightdelayproduct}" th:object="${product}" method="post">

    <p>Company: <input list="companies" th:field="*{companyId}" /> </p>
    <datalist id="companies">
        <option th:each="cmp : ${companies}"
                th:value="${cmp.id}"
                th:text="${cmp.name}" />
    </datalist>

    <p>Airlines (AL, AL, ...): <input type="text" th:field="*{airlines}" /></p>
 
	<p><fieldset style="width:260px;">
   			<caption>Sale on:  </caption>
    	<div style="border:solid 1px red;width:280px;">
			<input type="checkbox" name="sellon" value="widget" checked = "checked"/>Widget
 		 	<input type="checkbox" name="sellon" value="app"/>App
    		<input type="checkbox" name="sellon" value="email"/>Email
   		</div>
	</fieldset></p>
   
	<p><fieldset style="width:260px;">
   		<caption>Notification:  </caption>
   		<div style="border:solid 1px red;width:280px;">
			<input type="checkbox" name="notification" value="sms" checked = "checked"/>SMS
			<input type="checkbox" name="notification" value="app"/>App
			<input type="checkbox" name="notification" value="email" checked = "checked"/>Email
   		</div>
	</fieldset></p>

	<p><fieldset style="width:260px;">
   		<caption>Support:  </caption>
   		<div style="border:solid 1px red;width:280px;">
			<input type="checkbox" name="support" value="bot"/>Bot
			<input type="checkbox" name="support" value="facebook"/>Facebook Chat
   		</div>
	</fieldset></p>
   
    <p><input type="hidden" th:field="${product.id}" /></p>

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>
