<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>

</head>

<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(products)}">
        <h2>Products List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Company</th>
            </tr>
            <tr th:each="product : ${products}">
                <td><a th:text="${product.id}" th:href="${'/view/editproduct?id=' + product.id}">Id</a></td>
                <td th:text="${product.template}">template</td>
                <td th:text="${product.companyId}">companyId</td>
                <td><a th:href="${'/view/deleteproduct?id=' + product.id}"><button>Delete</button></a></td>
                <td><a th:href="${'/view/addproductproposal?productid=' + product.id}"><button>Proposal</button></a></td>
            </tr>
        </table>

    </div>
</div>
<p/>
<a href="/view/flightdelayproduct">New Product</a>
<p/>
<a href="/">Home</a>

</body>
</html>
